pkgbase = omarchy-ai-bar
	pkgdesc = Omarchy-native AI provider usage, quota, cost, and session monitoring
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/hancengiz/omarchy-ai-bar
	install = omarchy-ai-bar.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = dbus
	depends = gcc-libs
	depends = glibc
	depends = libnotify
	depends = omarchy
	depends = qt6-declarative
	depends = quickshell
	depends = sqlite
	options = !lto
	options = !debug
	source = omarchy-ai-bar-0.4.0.tar.gz::https://github.com/hancengiz/omarchy-ai-bar/archive/refs/tags/v0.4.0.tar.gz
	sha256sums = 0f4f40303bf95f288095467e3a12063240ca0b15bcea657802fffd0c5fe1745e

pkgname = omarchy-ai-bar
